@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


:root {
    --Dark:rgb(27,46,53);
    --Light:#AAC9B6;
    --my-font:'Amatic SC', cursive;
}
body{
    font-family: var(--my-font);
    padding:0px 20px;
}

/* Navigation */

/* collapse */
.collapse.show>div.me-auto {
    
    font-weight: 400;
    font-size: 6rem;
    line-height: 7.5rem;
    width: 30%;
}
.navbar-collapse.collapsing>div.me-auto {
    background: #AAC9B6;
    font-weight: 400;
    font-size: 6rem;
    line-height:8rem;
    transition: background-color 800ms ease-in-out
}

.navbar-collapse.collapsing {
    height:100vh;
    background: #AAC9B6;
    transition: height 800ms ease-in-out;
    padding-left: 20px;
}


.collapse.show {
 
    height: 100vh;
    background:var(--Light);
    padding-left: 20px;
     margin:0px ;

}



.collapse.show>div.social {
    
    font-size:1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
    background:white;
   padding: 10px;
    transition: height 800ms ease-in-out ;
    height:4rem;
}

.navbar-brand {
    position: relative;
    font-weight:700;
    color:rgb(27,46,53);
    font-size: 1.5rem;
    transition: transform 2ms ease-in-out;
}

.navbar-brand:hover {

    font-size: 1.6rem;

}

.me-auto {
    display: flex;
    position: relative;
 
    
}

.nav-link {
    position: relative;
    color:rgb(27,46,53);
    
   
    transition: transform 2ms ease-in-out;
    
}

.nav-link:hover {

    transform: scale(1.1);

}
.social-icon{
    transition: transform 2ms ease-in-out; 
}

.social-icon:hover {
    transform: scale(1.1);
  

}


/* Head section */
.head{
    padding-top: 5rem;
    position: relative;
}
.img-head {
    width: 60%;
    border-radius: 50%;
}

.typewriter{
    font-size:5vw;
}
.box{
    height: 30vh;
    width: 50vw;
    background-color: var(--Light);
    position:absolute;
    z-index: -1;
    transition: tranform 5s ;
}



/* Sections */
.img-section2 {
    width: 100%;
    border-radius: 50%;
    transition: transform 2s;

}.img-section3 {
    width:100%;
    border-radius: 50%;
    transition: transform 2s;
}

.section1{
    height: 50vh;
    padding-top: 5rem;
}

/* footer */
.footer {
    text-align: center;
    background: rgb(255, 255, 255);
    color:rgb(27,46,53);
    padding: 20px;
     bottom: 0;
    width: 100%;
  }



  /* Animations */

  .boxGrow{
    animation-duration: 5s;
    animation-name: box-grow;
    animation-fill-mode: forwards;
}

@keyframes box-grow {
    0% {
       transform: scale(1, 1);
       
      }
    10% {
        transform: scale(1,1);
      }
 
      40% {
        transform: scale(1.5,1);
      }

     70% {
        transform: scale(1.5,5);
      }

     100% {
        transform: scale(1.5,5);
      }
    
}

.imgMove{
    animation-duration: 2s;
    animation-name: img-move;
 
}

@keyframes img-move {
    0% {
       transform:scale(0, 0) ;
       
      }
    10% {
        transform:scale(0, 0) ;
      }
     30% {
        transform:rotate(2deg) ;
      }
 
     50% {
        transform: rotate(-2deg);
      }

     70% {
        transform: rotate(1deg);
      }
      90% {
        transform: rotate(-1deg);
      }

     100% {
        transform: rotate(0.2deg);
      }
    
}



  /* Custom elements */

/* custom button */
a:-webkit-any-link {

    cursor: pointer;
    text-decoration: none;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;

}

#btn {
    background: none;
    height:5vw;
    min-width:10vw;
    border: none;
    border-top: 2px solid rgb(27,46,53);
    /* border-radius: 10px; */
    color:rgb(27,46,53);
    font-size: 5vw;
    font-family: var(--my-font);
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#btn #circle {
    width:50%;
    height: 0.5rem;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:4vw;
}

#btn:hover {
    background: transparent;
    border: none;
}

#btn:hover #circle {
    height:2rem;;
    width:100%;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid rgb(27,46,53);
}

