@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





:root {
  --Dark: rgb(27, 46, 53);
  --Light: rgb(170, 201, 182);
  font-family: 'Roboto', sans-serif; 
  --my-font: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  min-height: 100%;

}

body {
  font-family: var(--my-font);
  color: var(--Dark);
  font-weight: 300;
  min-height:100%;
  width: 100%;
}
html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  scroll-behavior: auto !important;
  height: 100%;
}

.row {
  --bs-gutter-x: 0;
}


/* Navigation */

/* collapse */
.collapse.show>div.me-auto {

  font-weight: 400;
  font-size: 3rem;
  line-height: 7rem;
  width: 50%;
}

.navbar-collapse.collapsing>div.me-auto {
  background: var(--Light);
  font-weight: 400;
  font-size: 3rem;
  line-height: 7rem;
  transition: background-color 800ms ease-in-out
}

.navbar-collapse.collapsing {
  height: 91vh;
  background:var(--Light);
  transition: height 800ms ease-in-out;
  padding-left: 20px;
}


.collapse.show {

  height: 91vh;
  background: var(--Light);
  padding-left: 20px;
  margin: 0px;

}



.collapse.show>div.social {

  font-size: 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  background: white;
  padding: 10px;
  transition: height 800ms ease-in-out;
  height: 4rem;
}

.navbar-brand {
  position: relative;
  font-weight: 700;
  color: var(--Dark);
  font-size: 1.5rem;
  transition: transform 2ms ease-in-out;
}

.navbar-brand:hover {
  text-decoration: none;
color: var(--Dark);
}

.me-auto {
  display: flex;
  position: relative;


}

.nav-link {
  position: relative;
  color: var(--Dark);
  transition: transform 2ms ease-in-out;

}

.nav-link:hover {
  transform: scale(1.01);
  color: var(--Dark);
}

.social-icon {
  transition: transform 2ms ease-in-out;
}

.social-icon:hover {
  transform: scale(1.1);
}


/* Head section */
.head {
  padding-top: 5rem;
  position: relative;
}

.img-head {
  width: 60%;
  border-radius: 50%;
}

.typewriter {
  font-size: 5vw;
}

.box {
  height: 37vh;
  width: 40vw;
  background-color: var(--Light);
  position: absolute;
  z-index: -1;
  transition: tranform 5s;
}



/* Sections */
.img-section2 {
  width: 100%;
  border-radius: 50%;
  transition: transform 2s;

}

.img-section3 {
  width: 100%;
  border-radius: 50%;
  transition: transform 2s;
}

.section1 {
  height: 70vh;
  padding-top: 10rem;
}

.section2 {
  margin-top: 10rem;
}





/* contact */
.contact-page {
  padding: 0 1rem;

}

.title-container {
  padding-top: 5rem;
  color: var(--Dark);
  width: 80vw;
}

.contact-me {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  color: var(--Dark);


}

.contact-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 10px;
  background-color: var(--Light);
  width: 80vw;
  margin-bottom: 10rem;
}

.form {
  height: 80%;
  width: 80%;
  font-weight: 900;
  background-color: var(--Light);
}


.mail-link {
  color: var(--Dark);
}

/* projects */


.card-projects {
  margin-top: 10rem;
}

.web-sites-section {
  background-image: url(../../public/images/ONZ74N1-01.png);
  margin-top: 5rem;
  padding-bottom: 15rem;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  height: 100vh;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 60%, transparent 100%);
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.web-sites-section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.web-sites-section {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.img-hover-zoom {
  overflow: hidden;
 
  }

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

/* About */
.about{
  background-image: url(../../public/images/Set_of_programmers_02_01.jpg);
  margin-top: 5rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size:100vh;
  min-height: 100vh;

}

.about-text{
  background-color: rgba(170, 201, 182, 0.849);
  padding: 20px;
  font-weight: 400;


}
.link-about{
  color: var(--Dark);
  font-weight: 500;

 
}
.link-about:hover{
  color: var(--Dark);
}
/* footer */
.footer {
  text-align: center;
  background: rgb(255, 255, 255);
  color: var(--Dark);
  padding: 20px;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  background-color: rgb(235, 234, 234);
}

/* Animations */

.boxGrow {
  animation-duration: 5s;
  animation-name: box-grow;
  animation-fill-mode: forwards;
}

@keyframes box-grow {
  0% {
    transform: scale(1, 1);

  }

  10% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1.5, 1);
  }

  70% {
    transform: scale(1.5, 5);
  }

  100% {
    transform: scale(1.5, 6);
  }

}

.imgMove {
  animation-duration: 2s;
  animation-name: img-move;

}

@keyframes img-move {
  0% {
    transform: rotate(3deg);
    opacity: 0
  }

  10% {
    transform: rotate(0deg);
    opacity: 0
  }

  20% {
    transform: rotate(-3deg);
    opacity: 0
  }

  30% {
    transform: rotate(2deg);
    opacity: 0
  }

  40% {
    transform: rotate(0deg);


  }

  50% {
    transform: rotate(-2deg);
  }

  60% {
    transform: rotate(1deg);

  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-1deg);
  }

  90% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(0.2deg);
  }

}



/* Custom elements */

/* custom button */
a:-webkit-any-link {

  cursor: pointer;
  text-decoration: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;

}

#btn {
  background: none;
  height: 5vw;
  min-width: 20vw;
  border: none;
  border-top: 2px solid rgb(27, 46, 53);
  /* border-radius: 10px; */
  color: rgb(27, 46, 53);
  font-size: 5vw;
  font-family: var(--my-font);
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#btn #circle {
  width: 50%;
  height: 0.5rem;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size:5vw;
}

.noselect2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 3vw;
}

#btn:hover {
  background: transparent;
  border: none;
}

#btn:hover #circle {
  height: 1.2em;
  width: 100%;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid rgb(27, 46, 53);
}

/* toggler */

/* navbar icon */
.navbar-toggler {
  position: relative;
  width: 20px;
  height: 20px;
  transition: .5s ease-in-out;
  right: 15px
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background:var(--Dark);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}


/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
  background: var(--Dark);
}


.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none
}